body {
    color: black;
    display: block;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.google.img {
    position: relative;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 125px;
    padding-bottom: 25px;
}

.top {
    font-size: 100px;
}